<form id="new-post-form">
    <div class="form-group">
        <label for="postTitleInput">Post Title</label>
        <input type="input" class="form-control" id="postTitleInput">
    </div>
    <div class="form-group">
        <label for="postContentInput">Post Content</label>
        <textarea class="form-control" id="postContentInput" rows="3"></textarea>
    </div>
</form>
<button class="btn btn-primary" type="submit">Add Post</button>
<script src="/js/new.js"></script>