{{#each posts as |post|}}
<div class="row mb-5 justify-content-center">
    <div class="card col-10 p-0">
        <h2 class="card-header">{{post.post_title}}</h2>
        <p class="card-body">{{post.post_text}}</p>
        <small class="text-muted m-3">Created By: {{post.user.username}}</small>
    </div>
</div>
{{/each}}